form {
    position: absolute;
    background-color: #faebd7;
    width: 70%;
    border-radius: 0.6em;
    padding: 1.7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
      margin-bottom: 1em;
    }
    .form-title {
      width: 40%;
    }
  
    .form-image-url-div {
      width: 40% !important;
    }
  
    .form-details {
      width: 50%;
      display: flex;
      gap: 1.5em;
  
      div {
        margin-bottom: 0 !important;
      }
  
      input {
        border-radius: 0 5px 5px 0 !important;
      }
  
      span {
        padding-left: 0.3em;
        display: flex;
        align-items: end;
      }
    }
  
    .main-content {
      display: flex;
      gap: 2.7em;
    }
  
    .form-ingredients {
      display: flex;
      flex-direction: column !important;
      align-content: stretch;
      flex-wrap: wrap;
      width: 40%;
      flex-wrap: nowrap;
      max-height: 500px;
      overflow-y: auto;
      padding-right: 1em;
      .form-ingredient-quantity {
        max-width: 5.5em;
      }
    }
    .form-directions {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      flex-wrap: wrap;
      width: 60%;
      position: relative;
      flex-wrap: nowrap;
      max-height: 500px;
      overflow-y: auto;
      padding-right: 1em;
      .delete-direction {
        font-size: 1.3em;
        position: absolute;
        top: 0.6em;
        right: 0.6em;
      }
    }
  
    i {
      cursor: pointer;
      font-size: 1.6em;
      width: min-content;
      align-self: center;
    }
  }