.expanded-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: fit-content;

  .action-btn {
    position: absolute;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;

    i {
      font-size: 2em;
    }
  }
  .delete-recipe-btn {
    top: 0.6em;
    right: 0.6em;
  }

  .edit-recipe-btn {
    top: 0.6em;
    right: 4em;
  }

  .card-title {
    text-align: center;
    font-size: 4em;
    font-weight: 700;
  }

  .image-div {
    background-color: #9d9c9c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: 2px solid rgb(147, 85, 44);
  }

  .card-body {
    padding-left: 1.7em;
  }

  .details {
    display: flex;
    justify-content: center;
    gap: 2em;

    .detail {
      display: flex;
      gap: 1em;
      align-items: baseline;
    }
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 0.3em 2.5em 1.5em 0.3em;
    gap: 2em;

    h3 {
      text-align: center;
      font-size: 2.4em;
      margin-bottom: 0.5em;
    }

    .ingredients {
      display: flex;
      flex-direction: column;
      gap: 1.2em;
      height: 60vh;
      overflow-y: auto;
      padding-right: 1em;

      h5 {
        min-width: max-content;
      }

      .ingredient {
        display: flex;
        gap: 1em;
        justify-content: center;
        padding-bottom: 1em;
        border-bottom: 1px solid rgba(130, 90, 57, 0.534);
      }
    }

    .directions {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1.2em;
      height: 60vh;
      overflow-y: auto;
      padding-right: 1em;
    }
  }
}
