@font-face {
  font-family: rinterland;
  src: url(assets/fonts/rinterland/Rinterland.ttf);
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffa880;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;

  h1 {
    color: #ffe4c7;
    text-shadow: 10px 10px black;
    font-family: rinterland;
    font-size: 12em;
  }
}

.cards-container {
  padding: 1.5em 0 3em;
  width: 1550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  grid-auto-flow: row;
  grid-auto-rows: minmax(300px, 1fr);
}

.card-body {
}

.card {
  background-color: antiquewhite;
  position: relative;
  border: 2px solid rgb(147, 85, 44);
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
  }
  hr {
    border-top: 3px solid rgb(130, 90, 57) !important;
  }
  .card-image-top {
    background-color: #9d9c9c;

    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .card-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 0.5em;
    .card-detail {
      h5 {
        font-size: 1.4em;
      }
      p {
        display: flex;
        font-size: 1.2em;
        line-height: 1;
      }
      display: flex;
      gap: 1em;
      align-items: center;
    }
  }

  .read-more-btn {
    width: fit-content;
    padding: 0;
    line-height: 0;
    font-size: 2.4em;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    transition: all ease-in-out 0.2s;

    i {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.821);
    }
    &:hover {
      font-size: 2.6em;
      top: 0.3em;
      right: 0.3em;
      i {
        text-shadow: 0 0 35px rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.adding-card {
  width: 100%;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.524);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 0.3s;
  i {
    color: #faebd7;
    transition: all ease 0.3s;
    pointer-events: none;
    height: fit-content;
    font-size: 10em;
  }
  &:hover {
    background-color: rgba(65, 64, 64, 0.501);
    i {
      color: #151313;

      font-size: 12em;
    }
  }
}

.expanded-div {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: rgba(41, 35, 32, 0.741);
}


