@font-face {
  font-family: rinterland;
  src: url(assets/fonts/rinterland/Rinterland.ttf);
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffa880;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

#root {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;

  h1 {
    text-align: center;
    padding: 0 1em;
    width: max-content;
    color: #ffe4c7;
    text-shadow: 10px 10px black;
    font-family: rinterland;
    font-size: 12em;
  }
}

.cards-container {
  padding: 1.5em 0 3em;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  grid-auto-flow: row;
  grid-auto-rows: minmax(300px, 1fr);
}

.expanded-div {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  background-color: rgba(41, 35, 32, 0.741);
}

@media (max-width: 1700px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 8em !important;
  }
}

@media (max-width: 1120px) {
  h1 {
    font-size: 6em !important;
  }
  .cards-container {
    width: 70%;
    grid-template-columns: 1fr;
  }
  .card-detail {
    justify-self: center;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 5em !important;
  }
  .cards-container {
    width: 90%;
  }

  .card-detail {
    justify-self: start;

    h5 {
      font-size: 1.2em !important;
      width: max-content !important;
    }
  }
}
